<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="{{ url_for('library') }}">
            <i class="fas fa-book-open"></i> LitAnalyzer
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('library') }}">
                        <i class="fas fa-book"></i> Библиотека
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('authors_index') }}">
                        <i class="fas fa-users"></i> Авторы
                    </a>
                </li>
            </ul>

            <ul class="navbar-nav">
                {% if current_user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown">
                        <i class="fas fa-user-circle"></i> {{ current_user.username }}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li>
                            <a class="dropdown-item" href="{{ url_for('user_profile', username=current_user.username) }}">
                                <i class="fas fa-user"></i> Профиль
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{ url_for('dashboard') }}">
                                <i class="fas fa-tachometer-alt"></i> Кабинет
                            </a>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <a class="dropdown-item text-danger" href="{{ url_for('logout') }}">
                                <i class="fas fa-sign-out-alt"></i> Выйти
                            </a>
                        </li>
                    </ul>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('login') }}">
                        <i class="fas fa-sign-in-alt"></i> Войти
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('register') }}">
                        <i class="fas fa-user-plus"></i> Регистрация
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>